<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste FitCard</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/messages_pt_BR.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/modal.js"></script>
    <script src="~/Scripts/jquery.cpfcnpj.min.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Teste FitCard", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    <div class="modal fade" id="modalGlobal" tabindex="-1" role="dialog" aria-hidden="true" style="max-height: 90%; max-width: 100%; overflow-y: hidden">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="close" data-dismiss="modal" aria-hidden="true" id="btnCloseModal" style="">×</div>
                    <div id="modalHeaderMessage" align="center">Alerta</div>
                </div>
                <div class="modal-body" id="modalBody" style="overflow: hidden">
                    <div id="lblMensagem" class="alert alert-danger" align="center"></div>
                </div>
                <div class="modal-footer no-display">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnModalCancel"></button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" id="btnModalOk"></button>
                </div>
            </div>
        </div>
    </div>

    <div class="loader no-display"></div>
    <div class="fundo no-display"></div>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.maskedinput.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script>
        jQuery.validator.setDefaults({
            highlight: function (element) {
                $(element).parent().addClass("input-error");
            },
            unhighlight: function (element) {
                $(element).parent().removeClass("input-error");
            }
        });
    </script>

</body>
</html>